{
  "compilerOptions": {
    "declaration": true,
    "target": "{{#supportsES6}}es6{{/supportsES6}}{{^supportsES6}}es5{{/supportsES6}}",
    "module": "commonjs",
    "noImplicitAny": true,
    "outDir": "dist",
    "rootDir": "."{{#supportsTS22}},
    "lib": ["es6", "dom"]{{/supportsTS22}}
  },
  "exclude": [
    "dist",
    "node_modules"{{^supportsTS22}},
    "typings/browser",
    "typings/main",
    "typings/main.d.ts"
    {{/supportsTS22}}
  ]
}
