{
  "version": false,
  "dependencies": {},
  "globalDependencies": { {{^supportsES6}}{{^useCustomAssignPolyfill}}
    "core-js": "registry:dt/core-js#0.0.0+20160914114559",{{/useCustomAssignPolyfill}}{{/supportsES6}}
    "node": "registry:dt/node#6.0.0+20161121110008"{{^supportsTS22}},
    "isomorphic-fetch": "registry:dt/isomorphic-fetch#0.0.0+20160505171433"{{/supportsTS22}}
  }
}
